<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Salary</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeData" hilightBg>
      <td>
        <span *ngIf="showEdit">{{ employee.employeeID }}</span>
        <input type="text" [(ngModel)]="employee.employeeID" *ngIf="!showEdit">
      </td>
      <td>
        <span *ngIf="showEdit">{{ employee.firstName }}</span>
        <input type="text" [(ngModel)]="employee.firstName" *ngIf="!showEdit">
      </td>
      <td>
        <span *ngIf="showEdit">{{ employee.lastName }}</span>
        <input type="text" [(ngModel)]="employee.lastName" *ngIf="!showEdit">
      </td>
      <td>
        <span *ngIf="showEdit">{{ employee.salary }}</span>
        <input type="text" [(ngModel)]="employee.salary" *ngIf="!showEdit">
      </td>
      <td>
        <span *ngIf="showEdit">{{ employee.dob }}</span>
        <input type="text" [(ngModel)]="employee.dob" *ngIf="!showEdit">
      </td>
      <td>
        <span *ngIf="showEdit">{{ employee.email }}</span>
        <input type="email" [(ngModel)]="employee.email" *ngIf="!showEdit">
      </td>
      <td>
        <button *ngIf="!showEdit" (click)="updateEmp()">Update</button>
        <button *ngIf="showEdit" (click)="editEmp()">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
